NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=""

FROM_EMAIL=""
FROM_NAME=""
RESEND_API_KEY=""
SMTP_HOST="smtp.resend.com"
SMTP_PASSWORD=""
SMTP_PORT="587"
SMTP_USE_TLS="true"
SMTP_USERNAME="resend"